<div class="row">
    <div class="col-12 col-md-12">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                    aria-controls="nav-home" aria-selected="true">Overview</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                    aria-controls="nav-profile" aria-selected="false">Coach Room</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                    aria-controls="nav-contact" aria-selected="false">Fund talent</a>
                    <a class="nav-item nav-link" id="nav-hr-tab" data-toggle="tab" href="#nav-hr" role="tab"
                    aria-controls="nav-hr" aria-selected="false">HR contact</a>
                    
            </div>
        </nav>
        <div class="tab-content mt-2" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="row">
                  <div class="col-md-12">
                    <div class="mainpost">
                        <div class="hpost">
                            <a><i class="fa fa-ellipsis-h pull-right"></i></a>
                            <div class="himg">
                                <img src="assets/images/pg.png">
                                <p><a>Demetri Caronadded</a> a new idea.</p>
                            </div>
                        </div>
                        <div class="hbody">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                            <img src="assets/images/art.jpg">
                        </div>
                        <div class="hfoot">
                            <div class="htop">
                            <p>😀😂😈😁💖 Ava Wright and 89 others <small class="pull-right">27 comments</small></p>
                            </div>
                            <div class="hlike">
                                <ul>
                                    <li><a><i class="fa fa-thumbs-o-up"></i> 25K</a></li>
                                    <li><a><i class="fa fa-commenting-o"></i> 2K</a></li>
                                    <li><a><i class="fa fa-share"></i> 542</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
               
            </div>
            <div class="tab-pane fade" id="nav-hr" role="tabpanel" aria-labelledby="nav-hr-tab">
               
            </div>
        </div>
    </div>
</div>