<section class="home">
	<div class="container-fluid">
		<div class="row ">
			<div class="col-md-2">
				<p class="mi logo text-center pt-2"><img width="60" src="assets/images/logo.png"></p>
				<div class="row">
					<div class="col-md-12">
						<div class="profile mb-2">
							<img src="assets/images/pg.png">
							<p>Che Guevara<br><span> IT Student, NECG</span> </p>
						</div>
					</div>
					<div class="col-md-12">
						<ul class="leful">
							<li><a href=""><i class="fa fa-th bg1"></i> COACH ROOM</a></li>
							<li><a href=""><i class="fa fa-th bg2"></i> FUND TALENT</a></li>
							<li><a href=""><i class="fa fa-th bg3"></i> HR CONNECT</a></li>
							<li><a href=""><i class="fa fa-th bg4"></i> INVESTOR RELATION</a></li>
							<li><a href=""><i class="fa fa-th bg7"></i> PROJECT BID</a></li>
							<li><a href=""><i class="fa fa-th bg5"></i> BOOK COMMERCE</a></li>
							<li><a href=""><i class="fa fa-th bg1"></i> YOUR SUBSCRIPTIONS</a></li>
						</ul>
					</div>
					<div class="col-md-12 accor">
						<div id="accordion">
							<div class="card">
								<div class="card-header" id="headingOne">
									<h5 class="mb-0">
										<button class="btn btn-link btn-block  text-left" data-toggle="collapse"
											data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											<i class="fa fa-home pull-left"></i> See More <i
												class="fa fa-angle-down pull-right"></i>
										</button>
									</h5>
								</div>

								<div id="collapseOne" class="collapse" aria-labelledby="headingOne"
									data-parent="#accordion">
									<div class="card-body">

									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingTwo">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed btn-block  text-left"
											data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
											aria-controls="collapseTwo">
											<i class="fa fa-home pull-left"></i> Help & Support <i
												class="fa fa-angle-down pull-right"></i>
										</button>
									</h5>
								</div>
								<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
									data-parent="#accordion">
									<div class="card-body">

									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingThree">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed btn-block  text-left"
											data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
											aria-controls="collapseThree">
											<i class="fa fa-home pull-left"></i> Settings & Privacy <i
												class="fa fa-angle-down pull-right"></i>
										</button>
									</h5>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
									data-parent="#accordion">
									<div class="card-body">

									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="h4">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed btn-block text-left"
											data-toggle="collapse" data-target="#c4" aria-expanded="false"
											aria-controls="c4">
											<i class="fa fa-power-off pull-left"></i> Logout
										</button>
									</h5>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-10 bodyh pl-1 p-0">

				<div class="row no-gutters">
					<div class="col-md-10">
						<div class="row  mb-1 top_block1 no-gutters">
							<div class="col-md-3">
								<div class="row no-gutters mt-1 pl-2">
									<div class="col-md-2">
										<i class="fa fa-clock-o ttfa"></i>

									</div>
									<div class="col-md-10 t_bloc pl-2">
										<p><b>9:57 PM</b><a><small class="ml-2"><i class="fa fa-bars"></i> YourTime</small></a></p>
										<p><small>Tuesday, May 19, 2020 (GMT+7)</small></p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="top_block">
									<div class="row">
										<div class="col-md-12">
											<ul class="hom_ico">
												<li><a href=""><i class="fa fa-picture-o"></i></a></li>
												<li><a href=""><i class="fa fa-bell"></i></a></li>
												<li><a href=""><i class="fa fa-play"></i></a></li>
												<li><a href=""><i class="fa fa-search"></i></a></li>
												<li><a href=""><i class="fa fa-user-plus"></i></a></li>
												<li><a href=""><i class="fa fa-comments"></i></a></li>
											</ul>
										</div>

									</div>
								</div>
							</div>
							<div class="col-md-3 pl-2 dloc mt-2 text-right">
								<p><b>Logged in : Vishakapatnam India </b></p>
								<p><small>Last Login : 172.16.254.1</small></p>
							</div>
						</div>
						<div class="row no-gutters">
							<div class="col-md-8 pl-1 mt-1">
								<app-recommend-friends></app-recommend-friends>
							</div>
							<div class="col-md-4 pl-1 mt-1">
								<app-homeright></app-homeright>
							</div>
						</div>
					</div>


					<div class="col-md-2">
						<div class="row">
							<div class="col-md-12">
								<ul class="list-group list-group-horizontal outlist">
									<li><a href=""><img src="assets/images/pg.png" width="35"></a></li>
									<li><a href=""><i class="fa fa-question-circle"></i></a></li>
									<li><a href=""><i class="fa fa-sign-out"></i></a></li>

								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12  ml-1">
								<div class="main-chat">
									<h5 class="mb-0 pt-1 pb-1">Professors</h5>
									<hr class="mb-0 mt-0">
									<ul class="chat-box">
										<li>
											<a href=""><img src="assets/images/pg.png">Durga rao <i
													class="fa fa-circle cbg pull-right"></i></a>
										</li>
										<li>
											<a href=""><img src="assets/images/pg.png">ila Flynn <i
													class="fa fa-circle wbg pull-right"></i></a>
										</li>
										<li>
											<a href=""><img src="assets/images/pg.png">Tamar Heard <i
													class="fa fa-circle cbg pull-right"></i></a>
										</li>
										<li>
											<a href=""><img src="assets/images/pg.png">Olive Mathews <i
													class="fa fa-circle cbg pull-right"></i></a>
										</li>
									</ul>
									<h5 class="mb-0 pt-1 pb-1">COMMUNITY CONVERSATIONS</h5>
									<hr class="mb-0 mt-0">
									<ul class="chat-box">
										<li>
											<a href=""><img src="assets/images/pg.png">Designer's Commu<i
													class="fa fa-circle cbg pull-right"></i></a>
										</li>
										<li>
											<a href=""><img src="assets/images/pg.png">ila Flynn <i
													class="fa fa-circle wbg pull-right"></i></a>
										</li>

									</ul>
									<h5 class="mb-0 pt-1 pb-1">FRIENDS</h5>
									<hr class="mb-0 mt-0">
									<ul class="chat-box">
										<li>
											<a href=""><img src="assets/images/pg.png">Durga rao <i
													class="fa fa-circle cbg pull-right"></i></a>
										</li>
										<li>
											<a href=""><img src="assets/images/pg.png">ila Flynn <i
													class="fa fa-circle wbg pull-right"></i></a>
										</li>
										<li>
											<a href=""><img src="assets/images/pg.png">Tamar Heard <i
													class="fa fa-circle cbg pull-right"></i></a>
										</li>
										<li>
											<a href=""><img src="assets/images/pg.png">Olive Mathews <i
													class="fa fa-circle cbg pull-right"></i></a>
										</li>
										<li>
											<a href=""><img src="assets/images/pg.png">Tamar Heard <i
													class="fa fa-circle cbg pull-right"></i></a>
										</li>
										
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>