
<div class="mainsub">
    <div class="row">
        <div class="col-md-1">
           <div class="ifim">
            <img src="assets/images/myt2.jpg">
           </div>
        </div>
        <div class="col-md-11">
            <div class="ifo">
                <h4>Elon Musk</h4>
            <h3>JNTU UNIVERSITY ANATHAPUR<span><i class="fa fa-user "></i> <i class="fa fa-th"></i></span></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 project-tab">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                     aria-controls="nav-home" aria-selected="true">Subjects</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                     href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Reviews</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                     href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Availabity</a>
                     <a class="nav-item nav-link" id="nav-Profile-tab" data-toggle="tab"
                     href="#nav-fp" role="tab" aria-controls="nav-fp" aria-selected="false">Profile</a>
                     <a class="nav-item nav-link" id="nav-more-tab" data-toggle="tab"
                     href="#more" role="tab" aria-controls="more" aria-selected="false">more</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                 
<div class="coachroom">
    <div class="row">
        <div class="col-md-12">
            <h2>Top Rated <b>Instuctors</b></h2>
        </div>
    </div>
    <div class="row gutter-1">
        <div class="col-md-3">
            <div class="coach">
                <div class="coachhead">
                    <img src="assets/images/myt.jpg">
                </div>
                <div class="coachfooter">
                    <h4>Ruby Garcia</h4>
                    <p>Animator<span>4.95</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="coach">
                <div class="coachhead">
                    <img src="assets/images/myt.jpg">
                </div>
                <div class="coachfooter">
                    <h4>Ruby Garcia</h4>
                    <p>Animator<span>4.95</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="coach">
                <div class="coachhead">
                    <img src="assets/images/myt.jpg">
                </div>
                <div class="coachfooter">
                    <h4>Ruby Garcia</h4>
                    <p>Animator<span>4.95</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="coach">
                <div class="coachhead">
                    <img src="assets/images/myt.jpg">
                </div>
                <div class="coachfooter">
                    <h4>Ruby Garcia</h4>
                    <p>Animator<span>4.95</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="coach">
                <div class="coachhead">
                    <img src="assets/images/myt.jpg">
                </div>
                <div class="coachfooter">
                    <h4>Ruby Garcia</h4>
                    <p>Animator<span>4.95</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="coach">
                <div class="coachhead">
                    <img src="assets/images/myt.jpg">
                </div>
                <div class="coachfooter">
                    <h4>Ruby Garcia</h4>
                    <p>Animator<span>4.95</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="coach">
                <div class="coachhead">
                    <img src="assets/images/myt.jpg">
                </div>
                <div class="coachfooter">
                    <h4>Ruby Garcia</h4>
                    <p>Animator<span>4.95</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="coach">
                <div class="coachhead">
                    <img src="assets/images/myt.jpg">
                </div>
                <div class="coachfooter">
                    <h4>Ruby Garcia</h4>
                    <p>Animator<span>4.95</span></p>
                </div>
            </div>
        </div>
       
    </div>
</div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                   <div class="row">
                       <div class="col-md-12">
                        <img width="100%" src="assets/images/s2.jfif">
                       </div>
                   </div>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="row">
                        <div class="col-md-12">
                         <img width="100%" src="assets/images/s1.jfif">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-fp" role="tabpanel" aria-labelledby="nav-fp-tab">
                    <div class="row">
                        <div class="col-md-12">
                         <img width="100%" src="assets/images/s3.jfif">
                        </div>
                    </div>
                </div>
            </div>
              
        </div>
    </div>
</div>
