<app-header></app-header>
<section class="welcome">
    <div class="wleft">
      <div class="row">
        <div class="col-12 col-md-12">
          <H1>Welcome to MYT</H1>
        </div>
        <div class="col-12 col-md-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                       tempor incididunt ut labore et dolore magna aliqua.</p> 
        </div>
      </div>
       <app-search></app-search>
        <app-categories></app-categories>
    </div>
    <div class="wright">
      <div class="jm">
        <img src="assets/images/bg1.png">
      </div>
    </div>
  </section>