<div class="row">
    <div class="col-12 col-md-12">
      <h5>Top categories</h5><hr>
    </div>
    <div class="col-12 col-md-12">
      <ul class="list-unstyled mlist">
        <li><i class="fa fa-th fa-fw"></i> Transportation </li>
        <li><i class="fa fa-th fa-fw"></i> Architecture</li>
        <li><i class="fa fa-th fa-fw"></i> Education</li>
        <li><i class="fa fa-th fa-fw"></i> Medical </li>
        <li><i class="fa fa-th fa-fw"></i> Engineering</li>
        <li><i class="fa fa-th fa-fw"></i> Business</li>
      </ul>
    </div>
  </div>