<p class="mi logo text-center pt-2"><img width="60" src="assets/images/logo.png"></p>
				<div class="row">
					<div class="col-md-12">
						<div class="profile mb-2">
							<img src="assets/images/pg.png">
							<p>Che Guevara<br><span> IT Student, NECG</span> </p>
						</div>
					</div>
					<div class="col-md-12">
						<ul class="leful">
							<li><a routerLink="/home"><i class="fa fa-arrow-left  bg1"></i> MAIN MENU </a></li>
							<li><a routerLink="/bookcommerce"><i class="fa fa-th bg1"></i> BOOK STORE  </a></li>
							<li><a routerLink="/bdepartment"><i class="fa fa-th bg4"></i> DEPARTMENT </a></li>
							<li><a routerLink="/bpublish"><i class="fa fa-th bg3"></i> YOUR PUBLISHING  </a></li>
							<li><a routerLink="/bfav"><i class="fa fa-th bg7"></i> YOUR FAVAROITS </a></li>
					<li><a routerLink="/bookfilter"><i class="fa fa-th bg2"></i> FILTER YOUR BOOK</a></li>
						</ul>
					</div>
					<div class="col-md-12 accor">
						<div id="accordion">
							<div class="card">
								<div class="card-header" id="headingOne">
									<h5 class="mb-0">
										<button class="btn btn-link btn-block  text-left" data-toggle="collapse"
											data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											<i class="fa fa-home pull-left"></i> See More <i
												class="fa fa-angle-down pull-right"></i>
										</button>
									</h5>
								</div>

								<div id="collapseOne" class="collapse" aria-labelledby="headingOne"
									data-parent="#accordion">
									<div class="card-body">

									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingTwo">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed btn-block  text-left"
											data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
											aria-controls="collapseTwo">
											<i class="fa fa-home pull-left"></i> Help & Support <i
												class="fa fa-angle-down pull-right"></i>
										</button>
									</h5>
								</div>
								<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
									data-parent="#accordion">
									<div class="card-body">

									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingThree">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed btn-block  text-left"
											data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
											aria-controls="collapseThree">
											<i class="fa fa-home pull-left"></i> Settings & Privacy <i
												class="fa fa-angle-down pull-right"></i>
										</button>
									</h5>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
									data-parent="#accordion">
									<div class="card-body">

									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="h4">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed btn-block text-left"
											data-toggle="collapse" data-target="#c4" aria-expanded="false"
											aria-controls="c4">
											<i class="fa fa-power-off pull-left"></i> Logout
										</button>
									</h5>
								</div>

							</div>
						</div>
					</div>
				</div>