<div class="row assigntabs mt-2">
    <div class="col-8 col-md-8 offset-2">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                    aria-controls="nav-home" aria-selected="true">Tests</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                    aria-controls="nav-profile" aria-selected="false">Results</a>
                
                    
            </div>
        </nav>
    </div>
</div>
    <div class="row pt-2 pb-2">
        <div class="col-md-8 offset-2 col-8">
        <div class="tab-content mt-2" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
           <div class="row">
               <div class="col-md-12">
                   <ul class="mtests">
                       <li><a href=""><i class="fa fa-picture-o"></i> <span>Quantitative aptitue</span></a></li>
                       <li><a href=""><i class="fa fa-picture-o"></i> <span>Reasoning</span></a></li>
                       <li><a href=""><i class="fa fa-picture-o"></i> <span>Verbal ability</span></a></li>
                       <li><a href=""><i class="fa fa-picture-o"></i> <span>Mathmatics</span></a></li>
                       <li><a href=""><i class="fa fa-picture-o"></i> <span>MCQ's test</span></a></li>
                       <li><a href=""><i class="fa fa-picture-o"></i> <span>Speed test</span></a></li>
                       <li><a href=""><i class="fa fa-picture-o"></i> <span>Mock test</span></a></li>
                       <li><a href=""><i class="fa fa-picture-o"></i> <span>Previous papers</span></a></li>
                   </ul>
               </div>
           </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
               
            </div>
            <div class="tab-pane fade" id="nav-hr" role="tabpanel" aria-labelledby="nav-hr-tab">
               
            </div>
        </div>
        </div>
    </div>
    
