<section class="home">
	<div class="container-fluid">
		<div class="row ">
			<div class="col-md-2">
				<app-fundmenu></app-fundmenu>
			</div>
			<div class="col-md-10 bodyh pl-1 p-0">

				<div class="row no-gutters">
					<div class="col-md-10">
						<app-hometop></app-hometop>
						<div class="row">
							<div class="col-md-12">
								<div class="row no-gutters">
									<div class="col-md-8">
										<app-bkpinner></app-bkpinner>
                                       
                                        
										
									</div>
									<div class="col-md-4 pl-1">
										<app-homeright></app-homeright>
									</div>
								</div>
							</div>
							
						</div>
					</div>


					<div class="col-md-2">
						<app-homechat></app-homechat>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>