<div class="fundmain">
    <div class="row">
        <div class="col-md-6">
            <div class="fundbox">
                <img width="100%" src="assets/images/a.jpg">
                <small>Strategy & Alignment</small>
                <h5>Where to focus your innovation resources for the most impact</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit consectetur adipisicing elit</p>
                <button class="btn btn-primary btn-sm">Overview</button>

            </div>
        </div>
        <div class="col-md-6">
            <div class="fundbox">
                <img width="100%" src="assets/images/a.jpg">
                <small>Strategy & Alignment</small>
                <h5>Where to focus your innovation resources for the most impact</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit consectetur adipisicing elit</p>
                <button class="btn btn-primary btn-sm">Overview</button>

            </div>
        </div>
        <div class="col-md-6">
            <div class="fundbox">
                <img width="100%" src="assets/images/a.jpg">
                <small>Strategy & Alignment</small>
                <h5>Where to focus your innovation resources for the most impact</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit consectetur adipisicing elit</p>
                <button class="btn btn-primary btn-sm">Overview</button>

            </div>
        </div>
        <div class="col-md-6">
            <div class="fundbox">
                <img width="100%" src="assets/images/a.jpg">
                <small>Strategy & Alignment</small>
                <h5>Where to focus your innovation resources for the most impact</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit consectetur adipisicing elit</p>
                <button class="btn btn-primary btn-sm">Overview</button>

            </div>
        </div>
    
    
    </div>
</div>