@charset "UTF-8";
.gutter-1 {
  margin-right: 0px;
  margin-left: 0px;
}

.gutter-1 > .col, .gutter-1 > [class*="col-"] {
  padding-right: 10px;
  padding-left: 0;
}

.coachroom {
  padding: 10px;
}

.coachroom .coach {
  position: relative;
  margin-bottom: 10px;
}

.coachroom .coach .coachhead {
  position: relative;
}

.coachroom .coach .coachhead img {
  width: 100%;
  border-radius: 6px;
}

.coachroom .coach .coachfooter {
  position: absolute;
  padding: 2px 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
}

.coachroom .coach .coachfooter p {
  margin: 0;
  padding: 0 5px;
  color: #d5c6c6;
  font-size: 10px;
}

.coachroom .coach .coachfooter p span {
  text-align: right;
  float: right;
  font-size: 14px;
  color: greenyellow;
}

.coachroom .coach .coachfooter h4 {
  margin: 0;
  font-size: 13px;
  padding: 0 5px;
  color: #fff;
}

.project-tab {
  padding: 5px 25px;
}

.project-tab #tabs {
  background: #007b5e;
  color: #eee;
}

.project-tab #tabs h6.section-title {
  color: #eee;
}

.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #0062cc;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 3px solid !important;
  font-size: 13px;
}

.project-tab .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #0062cc;
  font-size: 13px;
}

.project-tab .nav-link:hover {
  border-color: transparent transparent #f3f3f3;
  border-bottom: 3px solid !important;
}

.project-tab thead {
  background: #f3f3f3;
  color: #333;
}

.project-tab a {
  text-decoration: none;
  color: #333;
}

.subinner {
  padding: 10px 0;
}

.subinner .subco {
  border-radius: 5px;
  background: #fff;
  margin-bottom: 10px;
}

.subinner .subco .subhead img {
  width: 100%;
  border-radius: 5px 5px 0px 0;
}

.subinner .subco .subin {
  padding: 5px;
  position: relative;
}

.subinner .subco .subin .subinlist ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 5px;
}

.subinner .subco .subin .subinlist ul li {
  list-style: none;
  margin-right: 10px;
  font-size: 10px;
}

.subinner .subco .subin .subinlist ul li i {
  font-size: 10px;
  color: #0062cc;
}

.subinner .subco .subin * {
  margin: 0;
  padding: 0;
}

.subinner .subco .subin .rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.subinner .subco .subin .rate:not(:checked) > label {
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 14px;
  color: #ccc;
}

.subinner .subco .subin .rate:not(:checked) > label:before {
  content: '★ ';
}

.subinner .subco .subin .rate > input:checked ~ label {
  color: #ffc700;
}

.subinner .subco .subin .rate:not(:checked) > label:hover,
.subinner .subco .subin .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.subinner .subco .subin .rate > input:checked + label:hover,
.subinner .subco .subin .rate > input:checked + label:hover ~ label,
.subinner .subco .subin .rate > input:checked ~ label:hover,
.subinner .subco .subin .rate > input:checked ~ label:hover ~ label,
.subinner .subco .subin .rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.subinner .subco .subin h3 {
  margin: 0;
  font-size: 12px;
}

.subinner .hee {
  margin: 5px 0;
}

.subinner .hee h2 {
  margin: 0;
}

.subinner .hee h2 span {
  border: 1px #0062cc solid;
  font-size: 12px;
  padding: 1px 10px;
  float: right;
  background: #fff;
  color: #0062cc;
  border-radius: 5px;
  margin-right: 10px;
}

.ifim img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.mainsub {
  padding: 10px 20px;
}

.ifo {
  margin-left: 10px;
}

.ifo h4 {
  font-size: 14px;
  margin: 0;
}

.ifo h3 {
  margin: 0;
  font-size: 16px;
}

.ifo h3 span {
  float: right;
}

.ifo h3 span i {
  color: #0062cc;
  font-size: 20px;
  margin-right: 20px;
}

.gutter-1 {
  margin-right: 0px;
  margin-left: 0px;
}

.gutter-1 > .col, .gutter-1 > [class*="col-"] {
  padding-right: 10px;
  padding-left: 0;
}
/*# sourceMappingURL=coachroomin.component.css.map */