.gutter-1{
    margin-right: 0px;
    margin-left: 0px;
}
.gutter-1 > .col, .gutter-1 > [class*="col-"] {
    padding-right: 10px;
    padding-left: 0;
}
.coachroom{
    padding:10px;
    .coach{
        position: relative; 
        margin-bottom: 10px;
        .coachhead{
            position: relative;
            img{
                width:100%;
                border-radius: 6px;
            }
            
        }
        .coachfooter{
            position: absolute;
            padding:2px 0;  
            bottom:0;
            background: rgba(#000, 0.1);
            width: 100%;
            p{
                margin:0;
                padding:0 5px;
                color: #d5c6c6;
                font-size: 10px;
                span{
                    text-align: right;
                    float: right;
                    font-size: 14px;
                    color:greenyellow;
                }
            }
            h4{
                margin:0;
                font-size: 13px;
                padding:0 5px;
                color:#fff;
            }

        }
    }
}

.project-tab {
    padding: 5px 25px;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 13px;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 13px;
}
.project-tab .nav-link:hover {
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
}
.subinner{
    padding:10px 0;
    .subco{
        border-radius: 5px;
        background:#fff;
        margin-bottom: 10px;;
        .subhead{
            img{
                width: 100%;
                border-radius: 5px 5px 0px 0;
            }
        }
        .subin{
            padding:5px;
           
            position: relative;
            .subinlist{
                ul{
                    margin: 0;
padding: 0;
width: 100%;
display: inline-flex;
margin-top: 5px;
li{
    list-style: none;
    margin-right: 10px;
font-size: 10px;
i{
    font-size: 10px;
    color: #0062cc;
}
}
                }
            }
            *{
                margin: 0;
                padding: 0;
            }
            .rate {
                
            }
            .rate:not(:checked) > input {
                position:absolute;
                top:-9999px;
            }
            .rate:not(:checked) > label {
                width:1em;
                overflow:hidden;
                white-space:nowrap;
                cursor:pointer;
                font-size:14px;
                color:#ccc;
            }
            .rate:not(:checked) > label:before {
                content: '★ ';
            }
            .rate > input:checked ~ label {
                color: #ffc700;    
            }
            .rate:not(:checked) > label:hover,
            .rate:not(:checked) > label:hover ~ label {
                color: #deb217;  
            }
            .rate > input:checked + label:hover,
            .rate > input:checked + label:hover ~ label,
            .rate > input:checked ~ label:hover,
            .rate > input:checked ~ label:hover ~ label,
            .rate > label:hover ~ input:checked ~ label {
                color: #c59b08;
            }
            h3{
                margin: 0;
                font-size: 12px;
            }
        }
    }
    .hee{
        margin:5px 0;
        h2{
            margin:0;
            span{
                border:1px #0062cc solid;
                font-size: 12px;
                padding:1px 10px;
                float: right;
                background: #fff;
                color: #0062cc;
                border-radius: 5px;
                margin-right: 10px;
            }
        }
    }
}
.ifim{
    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}
.mainsub{
    padding:10px 20px;
}
.ifo{
    margin-left: 10px;
    h4{
        font-size: 14px;
        margin:0;
    }
    h3{
        margin:0;
        font-size: 16px;
        span{
            float: right;
            i{
                color: #0062cc;
                font-size: 20px;
                margin-right: 20px;
            }
        }

    }
}

.gutter-1{
    margin-right: 0px;
    margin-left: 0px;
}
.gutter-1 > .col, .gutter-1 > [class*="col-"] {
    padding-right: 10px;
    padding-left: 0;
}