<div class="row">
    <div class="col-md-12">
        <ul class="list-group list-group-horizontal outlist">           <li><a routerLink="/assignment"><img src="assets/images/pg.png" width="35"></a></li>
            <li><a routerLink="/assignment"><i class="fa fa-question-circle"></i></a></li>
            <li><a routerLink="/assignment"><i class="fa fa-sign-out"></i></a></li>

        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12  ml-1">
        <div class="main-chat">
            <h5 class="mb-0 pt-1 pb-1">Professors</h5>
            <hr class="mb-0 mt-0">
            <ul class="chat-box">
                <li>
                    <a routerLink="/assignment"><img src="assets/images/pg.png">Durga rao <i
                            class="fa fa-circle cbg pull-right"></i></a>
                </li>
                <li>
                    <a routerLink="/assignment"><img src="assets/images/pg.png">ila Flynn <i
                            class="fa fa-circle wbg pull-right"></i></a>
                </li>
                <li>
                    <a routerLink="/assignment"><img src="assets/images/pg.png">Tamar Heard <i
                            class="fa fa-circle cbg pull-right"></i></a>
                </li>
                <li>
                    <a routerLink="/assignment"><img src="assets/images/pg.png">Olive Mathews <i
                            class="fa fa-circle cbg pull-right"></i></a>
                </li>
            </ul>
            <h5 class="mb-0 pt-1 pb-1">COMMUNITY CONVERSATIONS</h5>
            <hr class="mb-0 mt-0">
            <ul class="chat-box">
                <li>
                    <a routerLink="/assignment"><img src="assets/images/pg.png">Designer's Commu<i
                            class="fa fa-circle cbg pull-right"></i></a>
                </li>
                <li>
                    <a routerLink="/assignment"><img src="assets/images/pg.png">ila Flynn <i
                            class="fa fa-circle wbg pull-right"></i></a>
                </li>

            </ul>
            <h5 class="mb-0 pt-1 pb-1">FRIENDS</h5>
            <hr class="mb-0 mt-0">
            <ul class="chat-box">
                <li>
                    <a routerLink="/assignment"><img src="assets/images/pg.png">Durga rao <i
                            class="fa fa-circle cbg pull-right"></i></a>
                </li>
                <li>
                    <a routerLink="/assignment"><img src="assets/images/pg.png">ila Flynn <i
                            class="fa fa-circle wbg pull-right"></i></a>
                </li>
                <li>
                    <a routerLink="/assignment"><img src="assets/images/pg.png">Tamar Heard <i
                            class="fa fa-circle cbg pull-right"></i></a>
                </li>
                <li>
                    <a routerLink="/assignment"><img src="assets/images/pg.png">Olive Mathews <i
                            class="fa fa-circle cbg pull-right"></i></a>
                </li>
                <li>
                    <a routerLink="/assignment"><img src="assets/images/pg.png">Tamar Heard <i
                            class="fa fa-circle cbg pull-right"></i></a>
                </li>
                
            </ul>
        </div>
    </div>
</div>