<div class="mainsub">
    <!-- <div class="row">
        <div class="col-md-1">
           <div class="ifim">
            <img src="assets/images/myt2.jpg">
           </div>
        </div>
        <div class="col-md-11">
            <div class="ifo">
                <h4>Elon Musk</h4>
            <h3>JNTU UNIVERSITY ANATHAPUR<span><i class="fa fa-user "></i> <i class="fa fa-th"></i></span></h3>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-12 project-tab">
            <!-- <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                     aria-controls="nav-home" aria-selected="true">Subjects</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                     href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Reviews</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                     href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Availabity</a>
                     <a class="nav-item nav-link" id="nav-Profile-tab" data-toggle="tab"
                     href="#nav-Profile" role="tab" aria-controls="nav-Profile" aria-selected="false">Profile</a>
                     <a class="nav-item nav-link" id="nav-more-tab" data-toggle="tab"
                     href="#more" role="tab" aria-controls="more" aria-selected="false">more</a>
                </div>
            </nav> -->
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                 <div class="subinner">
                    <div class="row mb-2">
                        <div class="col-md-12 hee">
                            <h2>My Lectures <span>All Lectures</span></h2>
                        </div>
                    </div>
                    <div class="row gutter-1">
                      <div class="col-md-4">
                          <div class="subco">
                              <div class="subhead">
                                <img src="assets/images/myt1.jpg">
                              </div>
                              <div class="subin">
                                  <h3>Application developement</h3>
                                  <div class="rate">
                                    <input type="radio" id="star5" name="rate" value="5" />
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4" />
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3" />
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2" />
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1" />
                                    <label for="star1" title="text">1 star</label>
                                  </div>
                                  <hr>
                                  <div class="subinlist">
                                      <ul>
                                          <li><i class="fa fa-user"></i> 2446    </li>
                                          <li><i class="fa fa-clock-o"></i> 12h 28m    </li>
                                          <li><i class="fa fa-home"></i> Lectures    </li>
    
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                        <div class="subco">
                            <div class="subhead">
                              <img src="assets/images/myt1.jpg">
                            </div>
                            <div class="subin">
                                <h3>Application developement</h3>
                                <div class="rate">
                                  <input type="radio" id="star5" name="rate" value="5" />
                                  <label for="star5" title="text">5 stars</label>
                                  <input type="radio" id="star4" name="rate" value="4" />
                                  <label for="star4" title="text">4 stars</label>
                                  <input type="radio" id="star3" name="rate" value="3" />
                                  <label for="star3" title="text">3 stars</label>
                                  <input type="radio" id="star2" name="rate" value="2" />
                                  <label for="star2" title="text">2 stars</label>
                                  <input type="radio" id="star1" name="rate" value="1" />
                                  <label for="star1" title="text">1 star</label>
                                </div>
                                <hr>
                                <div class="subinlist">
                                    <ul>
                                        <li><i class="fa fa-user"></i> 2446    </li>
                                        <li><i class="fa fa-clock-o"></i> 12h 28m    </li>
                                        <li><i class="fa fa-home"></i> Lectures    </li>
    
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="subco">
                            <div class="subhead">
                              <img src="assets/images/myt1.jpg">
                            </div>
                            <div class="subin">
                                <h3>Application developement</h3>
                                <div class="rate">
                                  <input type="radio" id="star5" name="rate" value="5" />
                                  <label for="star5" title="text">5 stars</label>
                                  <input type="radio" id="star4" name="rate" value="4" />
                                  <label for="star4" title="text">4 stars</label>
                                  <input type="radio" id="star3" name="rate" value="3" />
                                  <label for="star3" title="text">3 stars</label>
                                  <input type="radio" id="star2" name="rate" value="2" />
                                  <label for="star2" title="text">2 stars</label>
                                  <input type="radio" id="star1" name="rate" value="1" />
                                  <label for="star1" title="text">1 star</label>
                                </div>
                                <hr>
                                <div class="subinlist">
                                    <ul>
                                        <li><i class="fa fa-user"></i> 2446    </li>
                                        <li><i class="fa fa-clock-o"></i> 12h 28m    </li>
                                        <li><i class="fa fa-home"></i> Lectures    </li>
    
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="subco">
                            <div class="subhead">
                              <img src="assets/images/myt1.jpg">
                            </div>
                            <div class="subin">
                                <h3>Application developement</h3>
                                <div class="rate">
                                  <input type="radio" id="star5" name="rate" value="5" />
                                  <label for="star5" title="text">5 stars</label>
                                  <input type="radio" id="star4" name="rate" value="4" />
                                  <label for="star4" title="text">4 stars</label>
                                  <input type="radio" id="star3" name="rate" value="3" />
                                  <label for="star3" title="text">3 stars</label>
                                  <input type="radio" id="star2" name="rate" value="2" />
                                  <label for="star2" title="text">2 stars</label>
                                  <input type="radio" id="star1" name="rate" value="1" />
                                  <label for="star1" title="text">1 star</label>
                                </div>
                                <hr>
                                <div class="subinlist">
                                    <ul>
                                        <li><i class="fa fa-user"></i> 2446    </li>
                                        <li><i class="fa fa-clock-o"></i> 12h 28m    </li>
                                        <li><i class="fa fa-home"></i> Lectures    </li>
    
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="subco">
                            <div class="subhead">
                              <img src="assets/images/myt1.jpg">
                            </div>
                            <div class="subin">
                                <h3>Application developement</h3>
                                <div class="rate">
                                  <input type="radio" id="star5" name="rate" value="5" />
                                  <label for="star5" title="text">5 stars</label>
                                  <input type="radio" id="star4" name="rate" value="4" />
                                  <label for="star4" title="text">4 stars</label>
                                  <input type="radio" id="star3" name="rate" value="3" />
                                  <label for="star3" title="text">3 stars</label>
                                  <input type="radio" id="star2" name="rate" value="2" />
                                  <label for="star2" title="text">2 stars</label>
                                  <input type="radio" id="star1" name="rate" value="1" />
                                  <label for="star1" title="text">1 star</label>
                                </div>
                                <hr>
                                <div class="subinlist">
                                    <ul>
                                        <li><i class="fa fa-user"></i> 2446    </li>
                                        <li><i class="fa fa-clock-o"></i> 12h 28m    </li>
                                        <li><i class="fa fa-home"></i> Lectures    </li>
    
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="subco">
                            <div class="subhead">
                              <img src="assets/images/myt1.jpg">
                            </div>
                            <div class="subin">
                                <h3>Application developement</h3>
                                <div class="rate">
                                  <input type="radio" id="star5" name="rate" value="5" />
                                  <label for="star5" title="text">5 stars</label>
                                  <input type="radio" id="star4" name="rate" value="4" />
                                  <label for="star4" title="text">4 stars</label>
                                  <input type="radio" id="star3" name="rate" value="3" />
                                  <label for="star3" title="text">3 stars</label>
                                  <input type="radio" id="star2" name="rate" value="2" />
                                  <label for="star2" title="text">2 stars</label>
                                  <input type="radio" id="star1" name="rate" value="1" />
                                  <label for="star1" title="text">1 star</label>
                                </div>
                                <hr>
                                <div class="subinlist">
                                    <ul>
                                        <li><i class="fa fa-user"></i> 2446    </li>
                                        <li><i class="fa fa-clock-o"></i> 12h 28m    </li>
                                        <li><i class="fa fa-home"></i> Lectures    </li>
    
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                 </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                   
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    
                </div>
            </div>
              
        </div>
    </div>
</div>