<div class="row">
    <div class="col-md-12">
        <h6>Notifications<span class="pull-right mr-2"><i class="fa fa-search"></i><i class="fa fa-th"></i><i class="fa fa-plus"></i></span></h6>
        <div class="notifications">
            <ul>
            	<li>
            		<div class="imgf"><img src="assets/images/pg.png"></div>
            		<div class="discf">
            			<p>Your friend Daniella Smith like your post Seven rules of good IT company</p>
            			<p><small>2 Hours ago</small></p>
            		</div>
            	</li>
            	<li>
            		<div class="imgf"><img src="assets/images/pg.png"></div>
            		<div class="discf">
            			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
            			<p><small>Yesterday</small></p>
            		</div>
            	</li>
            	<li>
            		<div class="imgf"><img src="assets/images/pg.png"></div>
            		<div class="discf">
            			<p>Your friend Daniella Smith like your post Seven rules of good IT company</p>
            			<p><small>December 7</small></p>
            		</div>
            	</li>

            </ul>
        </div>
    </div>
</div>