<section class="home">
	<div class="container-fluid">
		<div class="row ">
			<div class="col-md-2">
				<app-mainmenu></app-mainmenu>
			</div>
			<div class="col-md-10 bodyh pl-1 p-0">

				<div class="row no-gutters">
					<div class="col-md-10">
						<app-hometop></app-hometop>
						<div class="row">
							<div class="col-md-12">
								<div class="row no-gutters">
									<div class="col-md-8">
										<div class="row no-gutters">
											<div class="col-md-3">
												<div class="trend">
													<h6 class="pl-2 mb-1"><b>Trends for you</b></h6>
													<ol class="list-group nlist pl-2">
														<li class="list-group-item"><a href="">1. Politics · Trending
																<b>#VizagGasLeak</b></a></li>
														<li class="list-group-item"><a href="">2. Politics · Trending
																<b>#BuddhaPurnima</b></a> </li>
														<li class="list-group-item"><a href="">3. Politics · Trending
																<b>#Visakhapatnam</b></a></li>
													</ol>
													<p class="mt-0 mb-0 sc"><a class="headb">See all</a></p>
												</div>
											</div>
											<div class="col-md-9">
												<div class="postbox bround">
													<div class="phead">
														<textarea name="" id="input" class="form-control" rows="4"
															placeholder="create a post" required="required"></textarea>
													</div>
													<div class="pfooter">
														<button type="button"
															class="btn btn-default btn-sm">Photos/Videos</button>
														<button type="button" class="btn btn-default btn-sm">Select
															Topic</button>
														<button type="button" class="btn btn-default btn-sm">...</button>
														<button type="button"
															class="btn btn-primary btn-sm pull-right">Post</button>
													</div>
												</div>
											</div>
										</div>
										<div class="row no-gutters mt-2">
											<div class="col-md-6">
												<h6 class="headb">Streaming Line Ideas....</h6>
												<div class="mainpost">
													<div class="hpost">
														<a><i class="fa fa-ellipsis-h pull-right"></i></a>
														<div class="himg">
															<img src="assets/images/pg.png">
															<p><a>Demetri Caronadded</a> a new idea.</p>
														</div>
													</div>
													<div class="hbody">
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
														<img src="assets/images/art.jpg">
													</div>
													<div class="hfoot">
														<div class="htop">
														<p>😀😂😈😁💖 Ava Wright and 89 others <small class="pull-right">27 comments</small></p>
														</div>
														<div class="hlike">
															<ul>
																<li><a><i class="fa fa-thumbs-o-up"></i> like</a></li>
																<li><a><i class="fa fa-commenting-o"></i> comment</a></li>
																<li><a><i class="fa fa-share"></i> support</a></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="mainpost" hidden>
													<div class="hpost">
														<a><i class="fa fa-ellipsis-h pull-right"></i></a>
														<div class="himg">
															<img src="assets/images/pg.png">
															<p><a>Demetri Caronadded</a> a new idea.</p>
														</div>
													</div>
													<div class="hbody">
														<p>Mobile phone with inbuilt charger, A charger pin unit built in a mobile, which can be plugged in directly or through thin extendable wires. 😉😉😉</p>
														
													</div>
													<div class="hfoot">
														<div class="htop">
														<p>😀😂😈😁💖 Dj and 90 others<small class="pull-right">27 comments</small></p>
														</div>
														<div class="hlike">
															<ul>
																<li><a><i class="fa fa-thumbs-o-up"></i> like</a></li>
																<li><a><i class="fa fa-commenting-o"></i> comment</a></li>
																<li><a><i class="fa fa-share"></i> support</a></li>
															</ul>
														</div>
													</div>
												</div>
		
		
		
											</div>
											<div class="col-md-6 pl-1">
												<h6 class="headb">Streaming Activity .....</h6>
												<ul class="list-group">
													<li class="list-group-item">Projects handling</li>
													<li class="list-group-item">New Project requests</li>
													<li class="list-group-item">Mentions</li>
													<li class="list-group-item">Meeting Remainder</li>
												  </ul> 
											</div>
											
										</div>
									</div>
									<div class="col-md-4 pl-1">
										<app-homeright></app-homeright>
									</div>
								</div>
							</div>
							
						</div>
					</div>


					<div class="col-md-2">
						<app-homechat></app-homechat>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>