<div class="row">
    <div class="col-md-12">
        <h6>Recommendations<span class="pull-right mr-2"><i class="fa fa-search"></i><i class="fa fa-th"></i><i class="fa fa-plus"></i></span></h6>
        <div class="friends">
            <ul>
            	<li>
            		<div class="imgf"><img src="assets/images/pg.png"></div>
            		<div class="discf">
            			<p>Elon Musk</p>
            			<p><small>Works at spacex</small></p>
            		</div>
            	</li>
            	<li>
            		<div class="imgf"><img src="assets/images/pg.png"></div>
            		<div class="discf">
            			<p>Elon Musk</p>
            			<p><small>Works at spacex</small></p>
            		</div>
            	</li>
            	<li>
            		<div class="imgf"><img src="assets/images/pg.png"></div>
            		<div class="discf">
            			<p>Elon Musk</p>
            			<p><small>Works at spacex</small></p>
            		</div>
            	</li>
            	<li>
            		<div class="imgf"><img src="assets/images/pg.png"></div>
            		<div class="discf">
            			<p>Elon Musk</p>
            			<p><small>Works at spacex</small></p>
            		</div>
                </li>
                <li>
            		<div class="imgf"><img src="assets/images/pg.png"></div>
            		<div class="discf">
            			<p>Elon Musk</p>
            			<p><small>Works at spacex</small></p>
            		</div>
            	</li>
            	<li>
            		<div class="imgf"><img src="assets/images/pg.png"></div>
            		<div class="discf">
            			<p>Elon Musk</p>
            			<p><small>Works at spacex</small></p>
            		</div>
            	</li>
            	<li>
            		<div class="imgf"><img src="assets/images/pg.png"></div>
            		<div class="discf">
            			<p>Elon Musk</p>
            			<p><small>Works at spacex</small></p>
            		</div>
            	</li>
            	<li>
            		<div class="imgf"><img src="assets/images/pg.png"></div>
            		<div class="discf">
            			<p>Elon Musk</p>
            			<p><small>Works at spacex</small></p>
            		</div>
            	</li>
            </ul>
        </div>
    </div>
</div>