<div class="row assigntabs">
    <div class="col-12 col-md-12">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                    aria-controls="nav-home" aria-selected="true">Submit now</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                    aria-controls="nav-profile" aria-selected="false">Previous</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                    aria-controls="nav-contact" aria-selected="false">Assignments</a>
                    <a class="nav-item nav-link" id="nav-hr-tab" data-toggle="tab" href="#nav-hr" role="tab"
                    aria-controls="nav-hr" aria-selected="false">In complete</a>
                    
            </div>
        </nav>
        <div class="tab-content mt-2" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
             <div class="assignmainbox">
                <div class="row">
                    <div class="col-md-12">
                      <div class="assigntitle">
                          <div class="atitle">
                              <h4>Example assignment</h4>
                              
                          </div>
                          <div class="atype pull-right">
                              <button class="btn btn-primary btn-sm btn-rounded btr">Design</button>
                              <button class="btn btn-default btn-sm btn-rounded btr1">Developement</button>
                          </div>
                      </div>
                      
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <div class="assignbody">
                          <div class="row">
                          <div class="col-md-12">
                          <div class="form-group">
                              <label for="">Task title</label>
                              <input id="" class="form-control" type="text" name="" min="0" max="100">
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="">Task start date</label>
                              <input id="" class="form-control" type="text" name="" min="0" max="100">
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="">Deadline</label>
                              <input id="" class="form-control" type="text" name="" min="0" max="100">
                          </div>
                          </div>
                          <div class="col-md-12 mb-3">
                              <label for="">Upload file</label>
                             <div class="custom-file">
                                 <input id="my-input" class="custom-file-input" type="file" name="">
                                 <label for="my-input" class="custom-file-label">Attachment</label>
                             </div>
                              </div>
                              <div class="col-md-12">
                                 <div class="form-group">
                                     <label for="my-textarea">Leave comments</label>
                                     <textarea id="my-textarea" class="form-control" name="" rows="3"></textarea>
                                 </div>
                                  </div>
                                  <div class="col-md-12">
                                    <button class="btn btn-primary btn-sm btn-rounded btr pull-right">send</button>
                                     </div>
                      </div>
                      </div>
                    </div>
                </div>
             </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
               
            </div>
            <div class="tab-pane fade" id="nav-hr" role="tabpanel" aria-labelledby="nav-hr-tab">
               
            </div>
        </div>
    </div>
</div>