<div class="fundmain">
    <div class="row">
        <div class="col-md-4">
            <div class="fundbox">
                <img width="100%" src="assets/images/pg.png">
                <h5>Emma popvic</h5><hr>
                <button class="btn btn-primary btn-sm">Connect to idea</button>

            </div>
        </div>
        <div class="col-md-4">
            <div class="fundbox">
                <img width="100%" src="assets/images/pg.png">
                <h5>Sujinesh</h5><hr>
                <button class="btn btn-primary btn-sm">Connect to idea</button>

            </div>
        </div>
        <div class="col-md-4">
            <div class="fundbox">
                <img width="100%" src="assets/images/pg.png">
                <h5>Sravan</h5><hr>
                <button class="btn btn-primary btn-sm">Connect to idea</button>

            </div>
        </div>
        <div class="col-md-4">
            <div class="fundbox">
                <img width="100%" src="assets/images/pg.png">
                <h5>Prasanth</h5><hr>
                <button class="btn btn-primary btn-sm">Connect to idea</button>

            </div>
        </div>
        <div class="col-md-4">
            <div class="fundbox">
                <img width="100%" src="assets/images/pg.png">
                <h5>Yogendra</h5><hr>
                <button class="btn btn-primary btn-sm">Connect to idea</button>

            </div>
        </div>
        <div class="col-md-4">
            <div class="fundbox">
                <img width="100%" src="assets/images/pg.png">
                <h5>Durga</h5><hr>
                <button class="btn btn-primary btn-sm">Connect to idea</button>

            </div>
        </div>
       
    
    
    </div>
</div>