<div class="bkppro">
<div class="row">
       
         <div class="col-md-6">
            <div class="bkpbox">
                <h4>Project 1</h4>
                <div class="progress mb-2 mt-2">
                 <div class="progress-bar" style="width:70%">70% completed</div>
               </div> 
                <p>29 tasks completed</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 tempor incididunt ut labore et dolore magna aliqua.</p><hr>
 <div class="bkpin">
     <div class="row">
         <div class="col-md-6">
             <p>Created<br>02/01/2018</p>
         </div>
         <div class="col-md-6">
             <p>Deadline<br>03/12/2020</p>
         </div>
     </div>
 </div><hr>
 <div class="bkf">
     <p>Team</p>
     <img src="assets/images/pg.png">
     <img src="assets/images/pg.png">
     <img src="assets/images/pg.png">
 </div>
 
            </div>
         </div>
         <div class="col-md-6">
            <div class="bkpbox">
                <h4>Project 2</h4>
                <div class="progress mb-2 mt-2">
                 <div class="progress-bar" style="width:30%">30% completed</div>
               </div> 
                <p>29 tasks completed</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 tempor incididunt ut labore et dolore magna aliqua.</p><hr>
 <div class="bkpin">
     <div class="row">
         <div class="col-md-6">
             <p>Created<br>02/01/2018</p>
         </div>
         <div class="col-md-6">
             <p>Deadline<br>03/12/2020</p>
         </div>
     </div>
 </div><hr>
 <div class="bkf">
     <p>Team</p>
     <img src="assets/images/pg.png">
     <img src="assets/images/pg.png">
     <img src="assets/images/pg.png">
 </div>
 
            </div>
         </div>
         <div class="col-md-6">
            <div class="bkpbox">
                <h4>Project 3</h4>
                <div class="progress mb-2 mt-2">
                 <div class="progress-bar" style="width:80%">80% completed</div>
               </div> 
                <p>29 tasks completed</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 tempor incididunt ut labore et dolore magna aliqua.</p><hr>
 <div class="bkpin">
     <div class="row">
         <div class="col-md-6">
             <p>Created<br>02/01/2018</p>
         </div>
         <div class="col-md-6">
             <p>Deadline<br>03/12/2020</p>
         </div>
     </div>
 </div><hr>
 <div class="bkf">
     <p>Team</p>
     <img src="assets/images/pg.png">
     <img src="assets/images/pg.png">
     <img src="assets/images/pg.png">
 </div>
 
            </div>
         </div>
         <div class="col-md-6">
            <div class="bkpbox">
                <h4>Project 4</h4>
                <div class="progress mb-2 mt-2">
                 <div class="progress-bar" style="width:45%">45% completed</div>
               </div> 
                <p>29 tasks completed</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 tempor incididunt ut labore et dolore magna aliqua.</p><hr>
 <div class="bkpin">
     <div class="row">
         <div class="col-md-6">
             <p>Created<br>02/01/2018</p>
         </div>
         <div class="col-md-6">
             <p>Deadline<br>03/12/2020</p>
         </div>
     </div>
 </div><hr>
 <div class="bkf">
     <p>Team</p>
     <img src="assets/images/pg.png">
     <img src="assets/images/pg.png">
     <img src="assets/images/pg.png">
 </div>
 
            </div>
         </div>
        
    </div>
</div>