<div class="fundmain">
    <div class="row">
        <div class="col-md-6">
            <div class="fundbox">
                <img width="100%" src="assets/images/a.jpg">
                <small>Strategy & Alignment</small>
                <h5>Where to focus your innovation resources for the most impact</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit consectetur adipisicing elit</p>
                <button class="btn btn-primary btn-sm">Overview</button>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                  </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="fundbox">
                <img width="100%" src="assets/images/a.jpg">
                <small>Strategy & Alignment</small>
                <h5>Where to focus your innovation resources for the most impact</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit consectetur adipisicing elit</p>
                <button class="btn btn-primary btn-sm">Overview</button>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                  </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="fundbox">
                <img width="100%" src="assets/images/a.jpg">
                <small>Strategy & Alignment</small>
                <h5>Where to focus your innovation resources for the most impact</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit consectetur adipisicing elit</p>
                <button class="btn btn-primary btn-sm">Overview</button>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                  </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="fundbox">
                <img width="100%" src="assets/images/a.jpg">
                <small>Strategy & Alignment</small>
                <h5>Where to focus your innovation resources for the most impact</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit consectetur adipisicing elit</p>
                <button class="btn btn-primary btn-sm">Overview</button>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                  </div>

            </div>
        </div>
    
    
    </div>
</div>